*
!*/

!.gitignore
!.gitattributes

!/atuin/**
!/autostart/**
!/bash/**
!/bat/**
!/blesh/**
!/bottom/**
!/distrobox/**
!/environment.d/**
!/fcitx5/**
!/fish/**
!/ghostty/**
!/git/**
!/glow/**
!/kitty/**
!/lazygit/config.yml
!/mise/**
!/niri/**
!/nvim/**
!/opencode/opencode.json
!/opencode/tui.json
!/pandoc/**
!/ripgrep/**
!/ssh/**
!/tealdeer/**
!/touchcursor/**
!/wezterm/**
!/yazi/**
!/zathura/**
!/zed/**
!/zellij/**
!/bootstrap.sh
!/starship.toml
!/system_install.sh
!/tool_install.sh
!/user-dirs.dirs
!/user-dirs.locale

/fcitx5/conf/cached_layouts
